<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="playing">
    <%= render partial: "main_playing", locals: { playings: @playings } %>
  </div>
</div>


